/*TODO: cercare di rendere le restanti tre categorie responsive */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

/* Style for main container categories */
main {
    width: 65%;
    margin: 10% auto;
    margin-bottom: 0;
    margin-top: 0;
}

#saluto {
    margin-top: 100px;
    margin-left: 40px;
    color: #335e1e;
    font-size: large;
}

.catcontainer {
    padding: 0 20px; /* Internal spacing of the container */
    flex-direction: row; /* Arrange elements (photos) in a row */
    justify-content: center;
}

.catrow {
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
}

.categoria {
    flex: 1; /* Each category takes an equal part of the available space */
    margin: 10px; /* External margin of 10px */
    transition: transform 0.3s ease-in-out; /* Animation time */
}

.categoria img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded borders */
}

.categoria:hover {
    transform: scale(1.03); /* Enlarge the element to 103% */
}