* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

main {
    width: 80%;
    margin: 20vh 10%;

}

#saluto {
    margin-top: 15vh;
    margin-left: 10%;
    color: black;
    font-size: 25px;
}

.catcontainer {
    width: 80%;
    margin: 0 10%;
    padding: 0 20px;
    justify-content: center;
}

.catrow {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.categoria {
    flex: 1; /* Each category takes an equal part of the available space */
    margin: 10px; /* External margin of 10px */
    transition: transform 0.3s ease-in-out; /* Animation time */
}

.categoria img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded borders */
}

.categoria:hover {
    transform: scale(1.03); /* Enlarge the element to 103% */
}

@media(max-width: 600px) {
    .catrow {
        margin-top: 5vh;
        flex-direction: column;
    }
}