/*resetta i margini e i padding di tutti gli elementi, do un font unico e un colore unico*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

body{
    margin: 0%;
}

/*stile contenitore categorie*/
main{
    width: 80%;
    margin: 10%  auto 10% auto;
}

#saluto{
    margin-top: 100px;
    margin-left: 40px;
    color:#335e1e;
    font-size: large;
}

.catcontainer{
    padding: 0 20px; /*spaziatura interna del contenitore*/
    flex-direction: row; /*per disporre gli elementi (le foto) in riga*/
    justify-content: center;
}

.catrow{
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
}

.categoria{
    flex: 1; /*ogni categoria prende una parte uguale dello spazio disponibile */
    margin: 10px; /*margine esterno di 10 px*/
    transition: transform 0.3s ease-in-out /*tempo per animazione*/
}

.categoria img{
    width: 100%;
    height: auto;
    border-radius: 10px; /*bordi curvi*/
}

.categoria:hover {
    transform: scale(1.03); /* Ingrandisce l'elemento al 103% */
}