footer {
    width: 100%; /* Ensure full width */
    background-color: #335e1e; /* Dark green background to match saluto color */
    text-align: center;
    overflow: auto;
    padding: 20px; /* Adds padding for better appearance */
    bottom: 0;
    position: absolute;
    box-sizing: border-box; /* Includes padding and borders in total height */
    height: auto; /* Automatic height to fit content */
}

.row {
    display: grid; /* Align columns */
    background-color: transparent;
    padding-bottom: 1.5rem; /* Spacing from the bottom of the footer */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible column layout */
}

.footer-col {
    width: 100%;
    background-color: transparent;
}

.footer-col h3 {
    font-size: 17px;
    text-decoration: double;
    padding: 10px 0;
    color: white;
}

.footer-col ul p,
.footer-col li address {
    font-size: 12px;
    color: white;
}

.footer-col li a {
    padding: 4px;
    color: white;
    text-decoration: none; /* Removes underline from links */
}

.footer-col li a:hover {
    text-decoration: underline; /* Adds underline on hover */
}

/* Responsive Design */

/* Small Screens (up to 600px) */
@media (max-width: 600px) {
    .row {
        grid-template-columns: 1fr; /* Single column */
        padding-top: 20px;
    }
}

/* Medium Screens (601px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    .row {
        padding-top: 15px;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
}

/* Large Screens (901px and up) */
@media (min-width: 901px) {
    .row {
        padding-top: 15px;
        grid-template-columns: repeat(3, 1fr); /* Three columns */
    }
}