footer{
    position: absolute;
    padding: 20px 0 0 0; /*dare un po' di spazio sopra*/
    bottom: 0;
    /*box-sizing: border-box;*/
    width: 100%; /*in modo che prenda tutta la larghezza*/
    background-color:#335e1e;
    text-align: center;
    min-height: 5vh; /*altezza del footer (vh: percentuale altezza della porta di visualizzazione)*/
}


.row{
    display: grid;  /*per affiancare le colonne*/
    background-color: rgba(0, 255, 255, 0);
    padding-bottom: 1.5rem; /*distanziare un po' dal fondo del footer (rem: root em, 1 rem = 10px*/
    /*justify-content: space-between;
    flex-direction: row;*/
    grid-template-columns: 33% 33% 33%;
}


.footer-col{
    width: 100%;
    background-color: rgba(250, 235, 215, 0);
}

.footer-col h3{
    font-size: 17px;
    text-decoration:double;
    padding: 10px 0 10px 0;

}

.footer-col ul{
    font-size: 12px;
}

.footer-col li{
    padding: 4px;
}