*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.product-container {
    display: flex;
    gap: 60px;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 80px 0;
    flex-direction: row;
}

.product-details{
    text-align: center;
}

.product-image,
.product-details {
    width: 50%;
}

.product-image img {
    width: 80%;
    height: auto;
    margin: 0 10%; /**/
}

.product-title {
    font-size: larger;
    margin: 10px 0;
}

.product-price {
    font-size: 20px;
    color: #335e1e;
}

.quantity-container {
    font-size: 15px ;
    margin: 35px 0;
}

#quantity{
    margin-top: 10px;
    width: 35px;
}

.add-to-cart {
    background-color: #335e1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #29451c;
}

.product-description {
    display: block;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: justify;
}

.product-description h2 {
    font-size: large;
    margin-bottom: 10px;
}


@media (max-width: 600px) {
    .product-container {
        flex-direction: column;
    }

    .product-image,
    .product-details {
        width: 100%;
    }

}
