body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 5vh auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.subparagraph {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.profile-section {
    margin-top: 20px;
}

.profile-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.profile-item:last-child {
    border-bottom: none;
}

.icon {
    font-size: 20px;
    margin-right: 20px;
    color: #333;
}

.info {
    flex-grow: 1; /*per riempire tutto lo spazio*/
    margin-right: 20px;
}

.info label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
}

.info input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-button {
    background-color: #335e1e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.edit-button:hover {
    background-color: #29451c;
}

/* Media Queries */
@media (max-width: 850px) {
    .container {
        padding: 15px;
        margin: 0 auto 10em auto;
    }

    .profile-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
    }

    .icon {
        margin-bottom: 10px;
        transform: none;
    }

    .info {
        margin-right: 0;
        width: 100%;
    }

    .edit-button {
        width: 100%;
        margin-top: 10px;
        transform: none;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }

    .subparagraph {
        font-size: 13px;
    }

    .info label, .info input {
        font-size: 15px;
    }

    .edit-button {
        padding: 5px 12px;
        font-size: 15px;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    .subparagraph {
        font-size: 12px;
    }

    .info label, .info input {
        font-size: 14px;
    }

    .edit-button {
        padding: 5px 10px;
        font-size: 14px;
    }
}
